/* 기본 태그 디자인 */
*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

/* tap_menu */
.tab_menu{
    margin: 10px;
}

/* tap_menu의 list의 li들을 나열 */
.tab_menu .list{
    display: flex;
    height: 170px;
}

/* a버튼 */
.tab_menu .list>li .btn{
    padding: 0px 30px;
    font-size: 1.2rem;
}

/* a버튼을 눌렀을 때 디자인 */
.tab_menu .list>li.on .btn{
    color: rgb(54, 52, 172);
    background-color: rgb(242, 255, 219);
}

/* contents */
.tab_menu .list>li .content{
    display: none;
    position: absolute;
    left: 0 /* 지금은 tap 하나만 구현하기 때문에 사용 가능 */;
    margin-left: 10PX; /* 감싸고 있는 margin값 추가 */
    width: 500px;
    height: 150px;
    box-sizing: border-box;
    padding: 10px;
    background-color: lavender;
}

/* 버튼을 눌렀을 때 보이는 화면 */
.tab_menu .list>li.on .content{
    display: block;
}